
.galleryTable {
	width: 100%;
}

.videoDemo {
	width: 49%; 
	padding-right: 5px;
	transition: 0.5s;
	padding-left: 4px;
	padding-bottom: 10px;
}

.galleryTh {
	width: 25%; 
	padding-right: 5px;
	transition: 0.5s;
}

.galleryItem {
	width: 100%; 
}

.galleryItemCaption {
	font-size: 1em;
	font-weight: normal;
}

.halfTableDiv {
	width: 50%;
	margin: auto;
    float: left;
}