.pictureDiv{
	width: 260px;	
	margin: auto; 
	/* margin-right: 0; */
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 15px;
	float: right;
	margin-left: 10px;
	/* background-color: blue; */
}

.resumeButton {
	width: 85%;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 5px;
	border: 5px solid #0066ff;
	border-radius: 15px;
}

.resumeButton h6{
	font-size: 1.25em;
	margin: 7px;
	text-align: center;
	text-decoration: none;
	color: black;
	font-weight: normal;
}

.resumeButton p{
	font-size: 0.85em;
	margin: 5px;
	margin-bottom: 10px;
	text-align: center;
	text-decoration: none;
	color: #4d4d4d;
	font-style: italic;
}

.pictureDiv th{
	padding-bottom: 10px;
}

.linkedInPicture{
	height: 300px; 
	padding-bottom: 10px;
}

.linkedImages{
	height: 40px;
	padding-right: 5px;
}