body {
	background-image: url("images/bg.gif");
	background-color: rgba(255, 255, 204, .4);
	background-attachment: fixed;
	background-position: center;
	/* line-height: 1.35; */
}

h1{
	font-size: 2em;
	font-family: Verdana, sans-serif;
}

h2{
	font-size: 1.5em;
	font-family: Verdana, sans-serif;
}

h3{
	font-size: 1.25em;
	font-family: Verdana, sans-serif;
}

p{
	font-size: 1.15em;
}

.header{
	margin: auto;
	width: 1270px;
	height: 115px;
	background-repeat: no-repeat;
	background-size: cover;
	color: green;
}

.header a{
  color: white;
  text-decoration: none;
}

.logo {
	width: 500px;
	margin: auto;
    float: left;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.headerTable{
	margin: auto;
	padding-top: 35px;
	padding-right: 20px;
}

.headerTablePoint{
	font-family: Verdana, sans-serif;
	width: 300px;
	font-size: 1.25em;
	vertical-align: center;
	color: white;
	text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
	text-decoration: none;
}

.headerTablePointCurrent{
	font-family: Verdana, sans-serif;
	width: 300px;
	font-size: 1.25em;
	vertical-align: center;
	color: yellow;
	text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
	text-decoration: none;
}

.bodyDiv{
	font-family: Verdana, sans-serif;
	margin: auto;
	width: 1235px;
	background-color: rgba(248, 248, 248, 1);
	border: 20px solid;
	border-image: url("images/borderImage.png") 50 round;
	padding-bottom: 3px;
	position: relative;
}

.bodyDivContents{
	width: 1135px;
	transition: 0.5s;
}

.tableOfContentsDiv{
	/* background-color: rgba(55, 255, 55, 0.6); */
	position: fixed;
	width: 250px;
	height: 400px;
    top: 250px;
	transform: translateX(985px);
	color: rgba(136, 136, 72, 1);
}

.tableOfContentsButton{
	background-color: rgba(240, 240, 152, 1);
    position: absolute;
	width: 50px;
	height: 50px;
    top: 0px;
    right: 0px;
	
	font-size: 2em;
	text-align: center;
	
	border: 15px solid;
	border-image: url("images/borderImage_tableOfContents.png") 50 round;
	
	cursor:pointer;
	overflow-x: hidden;
	transition: 0.5s;
}

.tableOfContents{
	background-color: rgba(55, 55, 55, 0.8);	
    position: absolute;
	width: 0px;
	height: 400px;
	right: 0px;
    /* top: 250px; */
	/* align-self: left; */
	/* transform: translateX(975px); */
	
	background-color: rgba(240, 240, 152, 1);
	border: 0px solid;
	border-image: url("images/borderImage_tableOfContents.png") 50 round;
	
	overflow-x: hidden;
	transition: 0.5s;
}

.tableOfContents h2{ padding-left: 15px; font-size: 1.15em; }

.tableOfContents h3{ padding-left: 15px; font-size: 1em; }

.tableOfContents a{ color: rgba(136, 136, 72, 1); text-decoration: none; }

.tableOfContentsClose{	
	width: 50px;
	height: 50px;
    top: 0px;
    margin-top: 25px;
    margin-left: 10px;
	
	font-size: 2em;;
	text-align: center;
	
	cursor:pointer;
	overflow-x: hidden;
}